* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1 {
	background-color: #6267fe;
	padding: 1rem;
	border: 1px solid rgb(0 0 0 / 10%);
	font-size: 2rem;
	text-align: center;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav a:hover{
    text-decoration: overline;
}

nav {
	background-color: #056db3;
	margin: 0 auto;
	max-width: 800px;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav ul li {
    flex: 1 0 auto;
}



.card {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 1rem;
    background-color: #ddd;
    color: #ffffff;
}

body footer p {
	margin: 1rem;
}
p {
	margin: 0.25rem;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem 0.75rem;
	background-color: #eee;
}

.highlight {
	color: navy;
	font-weight: 700;
	font-family: hebrew;
}

